/*Card Container Style*/
.card_container {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  width: 250px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(204, 204, 204, 0.45);
  overflow: hidden;
}

/*Card Container Hover Effect*/
.card_container:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}

/*Image Style*/
.image_container .product_image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/*Card Header Style*/
.card_header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 0px 16px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Product Category Style*/
.card_header .product_category {
  text-align: start;
  font-size: 12px;
  color: #888;
  font-weight: 500;
  margin-bottom: 3px;
}

/*Product Name Style*/
.card_header .product_name {
  text-align: start;
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  color: #242424;
}

/*Product Stock*/
.card_header .product_stock {
  text-align: end;
  font-size: 12px;
  color: #06bc00;
  font-weight: 600;
  margin-top: 3px;
}

.card_header .product_stock_low {
  text-align: end;
  font-size: 12px;
  color: #bc0000;
  font-weight: 600;
  margin-top: 3px;
}

/*Product Price Style*/
.card_header .product_price {
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  color: #242424;
}
/*Card Header Style*/

/*Card Rating Style*/
.card_rating {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: #888;
  font-size: 14px;
  padding: 0 16px;
}

/*Rating Value Style*/
.card_rating .rating_value {
  font-weight: 500;
  margin: 0;
}
/*Card Rating Style*/

/*Card Body Style*/
.card_body {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 0 12px;
  gap: 8px;
}

/*Add to Cart Button Style*/
.card_body .btn_add_to_cart {
  flex: 0.3;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

/*Add to Cart Button Hover*/
.card_body .btn_add_to_cart:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/*Add to Cart Button Active*/
.card_body .btn_add_to_cart:active {
  background-color: #242424;
}

/*Product Quantity Style*/
.card_body .product_quantity {
  display: flex;
  flex: 0.7;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/*Product Quantity Button Style*/
.product_quantity .btn_increment ,
.product_quantity .btn_decrement {
  border: 1px solid #2424240a;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

/*Product Quantity Button Hover*/
.product_quantity .btn_increment:hover,
.product_quantity .btn_decrement:hover {
  color: #ffffff;
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/*Product Quantity Button Active*/
.product_quantity .btn_increment:active,
.product_quantity .btn_decrement:active {
  background-color: #242424;
}

/*Product Quantity Input Style*/
.product_quantity input {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
/*Card Body Style*/
