/* Product Card Component */
.card_container {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  width: 250px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(204, 204, 204, 0.45);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card_container:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

/* Image Section */
.card_container .image_container {
  position: relative;
}

.card_container .image_container .product_image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card_container .image_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card_container .image_container:hover::after {
  opacity: 1;
  backdrop-filter: blur(1px);
}

.card_container .image_container .view_details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease;
}

.card_container .image_container:hover .view_details {
  opacity: 1;
}

.card_container .image_container .view_details:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card_container .image_container .view_details:active {
  background-color: #242424;
}

/* Card Header */
.card_container .card_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 10px 16px;
  margin-bottom: 10px;
}

.card_container .card_header .product_category {
  font-size: 12px;
  color: #888;
  font-weight: 500;
  margin-bottom: 3px;
}

.card_container .card_header .product_name {
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  color: #242424;
}

.card_container .card_header .product_stock {
  text-align: end;
  font-size: 12px;
  color: #06bc00;
  font-weight: 600;
  margin-top: 3px;
}

.card_container .card_header .product_stock_low {
  text-align: end;
  font-size: 12px;
  color: #bc0000;
  font-weight: 600;
  margin-top: 3px;
}

.card_container .card_header .product_price {
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  color: #242424;
}

/* Rating Section */
.card_container .card_rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: #888;
  font-size: 14px;
  padding: 0 16px;
}

/* Card Body */
.card_container .card_body {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 0 12px;
  gap: 8px;
}

/* Quantity Controls */
.card_container .product_quantity {
  display: flex;
  flex: 0.7;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card_container .product_quantity button {
  border: 1px solid #2424240a;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.card_container .product_quantity button:hover {
  color: #ffffff;
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card_container .product_quantity button:active {
  background-color: #242424;
}

.card_container .product_quantity input {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

/* Add to Cart Button */
.card_container .btn_add_to_cart {
  flex: 0.3;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease;
}

.card_container .btn_add_to_cart:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card_container .btn_add_to_cart:active {
  background-color: #242424;
}