.navbar_container {
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  z-index: 9999;
  box-shadow: 0px 4px 6px #8888881b;
}

.cart_container {
  position: fixed;
  right: 20px;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #55555529;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #55555529;
  width: 400px;
  height: 600px;
  padding: 20px 16px;
  gap: 10px;
  overflow: hidden;
}

.cart_container .cart_list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  height: 90%;
  width: auto;
  overflow-y: auto;
  padding: 5px;
  margin: 0;
}

.cart_container .cart_list > *{
  flex: 0 0 auto;
}

.cart_container .summary {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 10px;
}

.summary .price_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_container .price_text{
  text-align: start;
  font-size: 20px;
  font-weight: 400;
  color: #888;
}

.price_container .total_price{
  text-align: end;
  font-size: 20px;
  font-weight: 600;
}

.summary .btn_check_out{
  align-items: center;
  padding: 12px 0px;
  border: none;
  background-color: #242424;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
}

.summary .btn_check_out:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.summary .btn_check_out:active {
  background-color: #242424;
}

.navbar_container .navbar_brand {
  font-size: 24px;
  font-weight: 700;
}

.navbar_search {
  display: flex;
}

.navbar_search .input_search {
  padding: 12px 5px;
  text-indent: 15px;
  width: 350px;
  border: 1px solid #888;
  border-right: none;
  border-radius: 12px 0 0 12px;
}

.navbar_search .btn_search {
  background-color: #242424;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  border-radius: 0 12px 12px 0;
}

.navbar_search .btn_search:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar_search .btn_search:active {
  background-color: #242424;
}

.navbar_container .view_cart {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 20px;
  border: none;
  background-color: #242424;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
}

.navbar_container .view_cart:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar_container .view_cart:active {
  background-color: #242424;
}
