.navbar_container {
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  z-index: 9999;
  box-shadow: 0px 2px 6px #8888881b;
}

.navbar_container .navbar_brand {
  font-size: 24px;
  font-weight: 700;
}

.navbar_search {
  display: flex;
}

.navbar_search .input_search {
  padding: 12px 5px;
  text-indent: 15px;
  width: 350px;
  border: 1px solid #888;
  border-right: none;
  border-radius: 12px 0 0 12px;
}

.navbar_search .btn_search {
  background-color: #242424;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  border-radius: 0 12px 12px 0;
}

.navbar_search .btn_search:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar_search .btn_search:active {
  background-color: #242424;
}

.navbar_container .view_cart {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 20px;
  border: none;
  background-color: #242424;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
}

.navbar_container .view_cart:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar_container .view_cart:active {
  background-color: #242424;
}
