.products_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  padding: 20px;
}

.products_container .product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
}