.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9997;
  backdrop-filter: blur(4px);
  background-color: #8888883d;
}

/* Modal Container */
.product_info_container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4%;
  left: auto;
  gap: 10px;
  height: 730px;
  background-color: #ffffff;
  width: 1000px;
  padding: 18px 20px 4px 20px;
  border-radius: 15px;
  border: 1px solid #8888883d;
  box-shadow: 0px 4px 6px #8888883d;
  z-index: 9998;
}

/* Close Button */
.product_info_container > .btn_close {
  position: absolute;
  right: 2%;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 26px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.product_info_container > .btn_close:active {
  color: #8888883d;
}

/* Product Image Section */
.product_info_container > .image_container > .product_image {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

/* Product Details Section */
.product_info_container > .product_details {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  width: 100%;
}

.product_info_container .category_list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.product_info_container .category_list > .product_category {
  font-size: 12px;
  color: #ffffff;
  background-color: #424242;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 500;
}

.product_info_container .product_details > .product_name {
  text-align: start;
  font-size: 28px;
  font-weight: 700;
  margin: 3px 0;
}

.product_info_container .product_details > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 6px 0;
}

.product_info_container .product_details span > hr {
  height: 25px;
}

.product_info_container .product_details .product_stock {
  text-align: start;
  font-size: 14px;
  color: #06bc00;
  font-weight: 600;
}

.product_info_container .product_details .product_stock_low {
  text-align: start;
  font-size: 14px;
  color: #bc0000;
  font-weight: 600;
}

.product_info_container .product_details .product_rating {
  display: flex;
  gap: 4px;
  color: #888;
  font-size: 14px;
}

.product_info_container .product_details > .product_price {
  font-size: 24px;
  font-weight: 600;
}

/* Form Elements */
.product_info_container .product_details > label {
  display: block;
  margin-top: 16px;
  font-size: 18px;
  color: #888888;
}

.product_info_container .product_details > textarea {
  width: 97%;
  resize: none;
  min-height: 130px;
  border: none;
  text-align: justify;
  line-height: 1.5;
  padding: 6px 10px;
}

.product_info_container .specification_list{
  height: 600px;
  padding: 0 0 0 20px;
  margin: 0;
  overflow-y: auto;
}

.product_info_container .specification_list > .product_specification {
  margin: 6px 0;
  font-size: 14px;
}

/* Action Buttons Section */
.product_info_container .product_details > .product_info_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product_info_container .product_info_buttons > .btn_add_to_cart {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.product_info_container .product_info_buttons > .btn_add_to_cart:hover {
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.product_info_container .product_info_buttons > .btn_add_to_cart:active {
  background-color: #242424;
}

/* Quantity Controller */
.product_info_container .quantity_controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.product_info_container .quantity_controller > button {
  border: 1px solid #2424240a;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.product_info_container .quantity_controller > button:hover {
  color: #ffffff;
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.product_info_container .quantity_controller > button:active {
  background-color: #242424;
}

.product_info_container .quantity_controller > input {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
